.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding: 10px 100px;
  text-align: center;
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
