.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font: 400 1.125rem/1.33 "Poppins", sans-serif;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
  color: var(--c0);
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--c0);
  transition: 300ms;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

/* mobile */

.btnMobile {
  display: none;
  position: relative;
}

.menuMobile {
  background: var(--c11);
  border-radius: 4px 0px 4px 4px;
  position: absolute;
  left: -80px;
  top: 40px;
  transition: 0.9s;
}

.menuMobile a {
  color: var(--c0);
  padding: 9px 14px;
  display: block;
}

@media (max-width: 600px) {
  .btnMobile {
    display: block;
  }
  .header-menu {
    display: none;
  }
  .mobile {
    cursor: pointer;
    display: block;
  }
}
