.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font: 400 1.125rem/1.33 "Poppins", sans-serif;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
  color: var(--c0);
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--c0);
  transition: 300ms;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}
