.projetos {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.projeto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 50px;
  padding: 20px;
  margin-bottom: 20px;
  background: var(--c1);
  border-radius: 4px;
  position: relative;
  transition: 350ms;
}
.projeto:hover {
  background: var(--c3);
}
.projeto::before {
  content: "";
  width: 4px;
  height: 20px;
  background: var(--gradiente-btn);
  position: absolute;
  top: 20px;
  left: -4px;
  display: block;
}

.projeto span {
  position: absolute;
  width: 100px;
  text-align: right;
  top: 22px;
  left: -135px;
}

.descricaoSection {
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
  color: var(--c10);
  max-width: 45ch;
  margin: 0 0 60px;
}
.descricaoSection strong {
  color: var(--c12);
}

.ponto {
  color: transparent;
}

@media (max-width: 800px) {
  .projetos {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .ponto {
    color: var(--p1);
  }
  .descricaoSection {
    font: 400 1.2rem/1.5 "Roboto", sans-serif;
  }
}

@media (max-width: 600px) {
  .projeto {
    grid-template-columns: 1fr;
  }
}
