<app-header></app-header>
<div class="sectionTitulo-bg" [ngStyle]="{ 'background-color': '#111111' }">
  <div class="sectionTitulo conteiner">
    <h1>Experiências Profissionais<span>.</span></h1>
  </div>
</div>

<div class="experiencia conteiner">
  <ul>
    <li *ngFor="let experiencia of experienicias" class="experienciaLista">
      <h3>
        {{ experiencia.dataInicio }} - {{ experiencia.dataFim }} -
        {{ experiencia.empresa }}
      </h3>
      <span>{{ experiencia.cargo }}</span>
      <p>{{ experiencia.descricao }}</p>
    </li>
  </ul>

  <div class="maisInfos">
    <app-extra (showElements)="onshowElements()"></app-extra>
    <div *ngIf="maisInfos" class="maisInfosConteudo">
      <h3 class="extraTitulo">QUALIFICAÇÕES E ATIVIDADES COMPLEMENTARES</h3>
      <ul>
        <li *ngFor="let extra of extras" class="extraLista">
          {{ extra.curso }} - {{ extra.instituicao }} -
          {{ extra.cargaHoraria }}
        </li>
      </ul>
    </div>
  </div>
</div>
<app-cta></app-cta>
<app-footer></app-footer>
